
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
</head>
<body>
    <div>
        <h1>Employee List</h1>
        <button id="btnloademployee">Load Employee</button>
        <table id="tblemployee">
        </table>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnloademployee').click(function () {
                var table = $('#tblemployee');
                $.ajax({
                    url: 'https://localhost:44311/api/Employee/',
                    method: 'Get',
                    headers: {
                        'Authorization': 'Bearer' + sessionStorage.getItem('gqLYDP5QWz9DhcRLZ4PbykKkRAfbUPUPHPzoiyDoglFby_Frj3bjTALcHyN3IysoGguRUdkwzEczkHEtf90I6YHizw3-ahxitnQehmAT6m7e7am41kR1osh5zN5jjPtsWeI9MDb_8FLDDBAeOmnpBvt9VE117rgViW4rnhKidIij4vjAqiNaGJUWywI81eVxNbEtTONXHwxfQ_ivm2p5PuZhTT-TIh8wkK_NFLlh8ootCNhohXFaE8SHpTnGleblzMxQxwKlEeXbEuEUmKTXYWCTXgLS8kMS6b3_ITtrrGTVWEnySKLbmbvphmHORgIMQ_FJ-TPYh3Gzk0GyfnkqgXgIhdSGxzO_ZmaXTA6spmKoztfle9MHfutVcNSrL5Z7st-6T60C1D49K-_gyJI5HYLLY5n375ba8HFQEYfTM3a_tl8I2QJQOD27QHHUSwboM4IFf8manSB48JlzAL5a9MmjpW-nkN50jqqj8oROHIxV0UEpwpwiHivKNmoNVOGh2qfa696KAZp39G3xjCN0H8fu_Knc6pU4U-KrJALYaI7npjaThC2XmdX8MkvJ4Vb2')
                    },
                    success: function (response) {
                        table.empty();
                        table.append('<thead><tr><th>Employee No</th><th>Last Name</th><th>First Name</th>' +
                            '<th>Address</th><th>Gender</th><th>Birthday</th></tr ></thead > <tbody>');
                        $.each(response, function (index, val) {
                            table.append('<tr><td>' + val.EmployeeNo + '</td><td>' + val.LastName + '</td>' +
                                '<td>' + val.FirstName + '</td><td>' + val.Address + '</td>' +
                                '<td>' + val.Gender + '</td><td>' + val.Birthday + '</td></tr>');

                        });
                    },
                    error: function (error) {
                        alert(error.responseText);
                    }
                });
            });
        });

    </script>
    <br />
    <div>
        <h1>Product List</h1>
        <button id="btnloadproducts">Load Products</button>
        <table id="tblproducts">
        </table>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnloadproducts').click(function () {
                var table = $('#tblproducts');
                $.ajax({
                    url: 'https://localhost:44311/api/Products/',
                    method: 'Get',
                    headers: {
                        'Authorization': 'Bearer' + sessionStorage.getItem('gqLYDP5QWz9DhcRLZ4PbykKkRAfbUPUPHPzoiyDoglFby_Frj3bjTALcHyN3IysoGguRUdkwzEczkHEtf90I6YHizw3-ahxitnQehmAT6m7e7am41kR1osh5zN5jjPtsWeI9MDb_8FLDDBAeOmnpBvt9VE117rgViW4rnhKidIij4vjAqiNaGJUWywI81eVxNbEtTONXHwxfQ_ivm2p5PuZhTT-TIh8wkK_NFLlh8ootCNhohXFaE8SHpTnGleblzMxQxwKlEeXbEuEUmKTXYWCTXgLS8kMS6b3_ITtrrGTVWEnySKLbmbvphmHORgIMQ_FJ-TPYh3Gzk0GyfnkqgXgIhdSGxzO_ZmaXTA6spmKoztfle9MHfutVcNSrL5Z7st-6T60C1D49K-_gyJI5HYLLY5n375ba8HFQEYfTM3a_tl8I2QJQOD27QHHUSwboM4IFf8manSB48JlzAL5a9MmjpW-nkN50jqqj8oROHIxV0UEpwpwiHivKNmoNVOGh2qfa696KAZp39G3xjCN0H8fu_Knc6pU4U-KrJALYaI7npjaThC2XmdX8MkvJ4Vb2')
                    },
                    success: function (response) {
                        table.empty();
                        table.append('<thead><tr><th>Product Id</th><th>Product Name</th><th>Supplier ID</th>' +
                            '<th>Category Id</th><th>QuantityPerUnit</th><th>Unit Price</th><th>UnitsInStock</th><th>UnitsInOrder</th><th>ReorderLevel</th><th>Discontinued</th></tr></thead > <tbody>');
                        $.each(response, function (index, val) {
                            table.append('<tr><td>' + val.ProductId + '</td><td>' + val.ProductName + '</td>' +
                                '<td>' + val.SupplierId + '</td><td>' + val.CategoryId + '</td>' +
                                '<td>' + val.QuantityPerUnit + '</td><td>' + val.UnitPrice + '</td><td>' + val.UnitsInStock + '</td><td>' + val.UnitsOnOrder + '</td><td>' + val.ReorderLevel + '</td><td>' + val.Discontinued + '</td></tr>');

                        });
                    },
                    error: function (error) {
                        alert(error.responseText);
                    }
                });
            });
        });

    </script>
    <br />
    <div>
        <h1>Add Products</h1>
        <button id="btnAddProducts">Add Products</button>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#btnAddProducts').click(function () {
                    window.location.href = '/Home/AddProducts';
                }

        </script>
    </div>
    <br />
    <div>
        <h1>Suppliers List</h1>
        <button id="btnloadSuppliers">Load Suppliers</button>
        <table id="tblSuppliers">
        </table>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script type="text/javascript">
                $(document).ready(function () {
                    $('#btnloadSuppliers').click(function () {
                        var table = $('#tblSuppliers');
                        $.ajax({
                            url: 'https://localhost:44311/api/Suppliers/',
                            method: 'Get',
                            headers: {
                                'Authorization': 'Bearer' + sessionStorage.getItem('gqLYDP5QWz9DhcRLZ4PbykKkRAfbUPUPHPzoiyDoglFby_Frj3bjTALcHyN3IysoGguRUdkwzEczkHEtf90I6YHizw3-ahxitnQehmAT6m7e7am41kR1osh5zN5jjPtsWeI9MDb_8FLDDBAeOmnpBvt9VE117rgViW4rnhKidIij4vjAqiNaGJUWywI81eVxNbEtTONXHwxfQ_ivm2p5PuZhTT-TIh8wkK_NFLlh8ootCNhohXFaE8SHpTnGleblzMxQxwKlEeXbEuEUmKTXYWCTXgLS8kMS6b3_ITtrrGTVWEnySKLbmbvphmHORgIMQ_FJ-TPYh3Gzk0GyfnkqgXgIhdSGxzO_ZmaXTA6spmKoztfle9MHfutVcNSrL5Z7st-6T60C1D49K-_gyJI5HYLLY5n375ba8HFQEYfTM3a_tl8I2QJQOD27QHHUSwboM4IFf8manSB48JlzAL5a9MmjpW-nkN50jqqj8oROHIxV0UEpwpwiHivKNmoNVOGh2qfa696KAZp39G3xjCN0H8fu_Knc6pU4U-KrJALYaI7npjaThC2XmdX8MkvJ4Vb2')
                            },
                            success: function (response) {
                                table.empty();
                                table.append('<thead><tr><th>Supplier Id</th><th>Company Name</th><th>Contact Name</th>' +
                                    '<th>Contact Title</th><th>Address</th><th>City</th><th>Region</th><th>Postal Code</th><th>Country</th><th>Phone</th><th>Fax</th><th>Homepage</th></tr></thead > <tbody>');
                                $.each(response, function (index, val) {
                                    table.append('<tr><td>' + val.SupplierId + '</td><td>' + val.CompanyName + '</td>' +
                                        '<td>' + val.ContactName + '</td><td>' + val.ContactTitle + '</td>' +
                                        '<td>' + val.Address + '</td><td>' + val.City + '</td><td>' + val.Region + '</td><td>' + val.PostalCode + '</td><td>' + val.Country + '</td><td>' + val.Phone + '</td><td>' + val.Fax + '</td><td>' + val.HomePage + '</td></tr>');

                                });
                            },
                            error: function (error) {
                                alert(error.responseText);
                            }
                        });
                    });
                });

    </script>
</body>
</html>

